<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <title>{% block title %}{% endblock title %}</title>
        <style>
            [x-cloak] { display: none !important; }
        </style>
    </head>
    <body class="container mx-auto">
        <c-navigation :links="{'url': 'dashboard', 'name': 'Home'},{'url': 'two', 'name': 'About'},{'url': 'three', 'name': 'Contact'}"/>
        {% block content %}{% endblock content %}
    </body>
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'; // add a new header into the request
        });
    </script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('search', { query: '' });
            Alpine.store('visibleCount', {
                count: 0,
                update() {
                    this.count = document.querySelectorAll('div.card_element:not(.card_invisible)').length;
                },
            });
        });
    </script>
</html>
