{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div x-data="{ visibleCount: {{ cocktails_with_ingredients|length }}}" id="card_list" class="px-4 sm:px-6 lg:px-8 flex flex-col gap-3">
        <div class="flex justify-end">
            <c-link button_type="secondary" url="{% url 'create' %}">Add Cocktail</c-link>
        </div>
        <c-search_input></c-search_input>
    {% include "partials/card_list.html" %}
    </div>
    <c-modal>
    </c-modal>
{% endblock %}