<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <title>Document</title>
    </head>
    <body class="container mx-auto">
        <c-navigation
            url_one = "one"
            url_two = "two"
            url_three = "three"/>
        <div class="px-4 sm:px-6 lg:px-8 flex flex-col gap-3">
            {% for item in cocktails_with_ingredients %}
            <c-card name="{{item.cocktail.name}}" 
                    creator="{{item.cocktail.creator}}"
                    type="{{item.cocktail.get_type_display}}"
                    drink_style="{{item.cocktail.get_style_display}}"
                    instructions="{{item.cocktail.instructions }}"
                    :ingredients="item.ingredients"></c-card>
            {% endfor %}
        </div>
        <c-modal></c-modal>
    </body>
</html>
