<div>
    <label for="{{ field.id_for_label }}">{{ field.name|title }}</label>
    <div class="grid grid-cols-1 mt-2">
        <select class="outline-gray-300 -outline-offset-1 outline outline-1 text-gray-900 text-base ps-3 pe-8 py-1.5 bg-white rounded-md appearance-none w-full row-start-1 col-start-1 focus:outline-indigo-600 focus:outline-2 focus:-outline-offset-2" 
                name="{{ field.id_for_label }}" 
                id="{{ field.id_for_label }}">
                    {% for value, label in field.field.choices %}
                        <option value="{{ value }}" {% if field.value == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" 
             viewBox="0 0 16 16" 
             fill="currentColor" 
             aria-hidden="true" 
             data-slot="icon" 
             class="size-4 text-gray-500 self-center justify-self-end me-2 row-start-1 col-start-1 pointer-events-none">
                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
            </svg>
    </div>
    <p class="text-gray-500 text-sm italic ps-1">{{ field.help_text }}</p>
    {% if field.errors %}
        <div class="text-red-500 text-sm font-medium italic ps-1">
        {{ field.errors }}
        </div>
    {% endif %}
</div>