<!-- Receives a list of tabs and iterates through to create the tab buttons -->
<div 
    x-data="{tab: '{{ tabs|first }}'}"
    x-cloak>
    <!-- After defaulting to the first entry in the list, loops through the list -->
    <div class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
        {% for tab in tabs %}
            <div class="me-2">
                <button
                    @click="tab='{{ tab }}'" 
                    type="button"
                    :class="tab==='{{ tab }}' ? ['text-blue-600', 'bg-gray-100'] : ['text-gray-500','hover:text-gray-600','hover:bg-gray-50']" 
                    class="inline-block p-4 rounded-t-lg">{{ tab|title }}</button>
            </div>
        {% endfor %} 
    </div>
    <!-- Actual tab content -->
    <div>
        <!-- This is where the content lives -->
        {{ slot }}
    </div>
</div>

