<div>
    <c-field_label :field="{{ field }}"></c-field_label>
    <div class="grid grid-cols-1 mt-2">
        <textarea class="outline-gray-300 -outline-offset-1 outline outline-1 text-gray-900 text-base px-3 py-1.5 bg-white rounded-md appearance-none w-full row-start-1 col-start-1 focus:outline-indigo-600 focus:outline-2 focus:-outline-offset-2"
                aria-describedby="{{ field.id_for_label }}-help {{ field.id_for_label }}-error" 
                name="{{ field.id_for_label }}" 
                id="{{ field.id_for_label }}"
                {{ attrs }}></textarea>
    </div>
    <c-help_text :field="{{ field }}"></c-help_text>
    {% if field.errors %}
        <div class="text-red-500 text-sm font-medium italic ps-1">
        {{ field.errors }}
        </div>
    {% endif %}
</div>