{% extends 'base.html' %}
{% block title %}Create{% endblock title %}
{% block content %}
<c-tabs :tabs="['profile', 'dashboard', 'settings']">
    <form class="p-3" action="">
        <c-tab 
            class="grid sm:grid-cols-2 gap-3"
            name="profile">
        {% for field in cocktail_form %}
            {% if field.name == "name" or field.name == "creator" %}
                <c-text_field :field="{{ field }}"></c-text_field>
            {% elif field.name == "type" %}
                <c-select_field :field="{{ field }}"></c-select_field>
            {% elif field.name == "style" %}
                <c-select_field :field="{{ field }}"></c-select_field>    
            {% endif %}
        {% endfor %}

        </c-tab>
        <c-tab name="dashboard">
            {{ ingredient_form }}
        </c-tab>
        <c-tab name="settings">
            {% for field in cocktail_form %}
            {% if field.name == "instructions" %}
                <c-textarea_field :field="{{ field }}" cols="4" rows="4"></c-textarea_field>
            {% endif %}
        {% endfor %}
        </c-tab>
    </form>
</c-tabs>
{% endblock %}